    /**
     * @param \Psr\Http\Message\ServerRequestInterface $request
     * @param \Psr\Http\Message\ResponseInterface $response
     * @param array $args
     * @{{VERB}}(name="{{ROUTE}}")
     */
    public function {{METHOD-NAME}}( $request, $response, $args = []) {
        echo "Up Slim " . \Flexe\App::getVersion();
    }
