<?php
/**
 * Created by Claudio Campos.
 * User: callcocam@gmail.com
 * https://www.sigasmart.com.br
 */

namespace {{NAMESPACE-ABSTRACTCONTROLLER}};

use Flexe\Http\Controller;

abstract class AbstractController extends Controller
{

}